#container {
    width: 80%;
}

.pkg {
    float: none;
    width: 100%;
}

.pkg:hover {
    border: 0;
}

.highlight {
    height: auto;
    margin-top: 0;
    border: none;
}

.btn {
    margin-top: 0;
}